# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 必须包含！
.env
.env.production
.env.local

# Tauri 密钥 (虽然通常不在这里，但写上也无妨)
*.pem
*.key

# 其他常规忽略
node_modules
dist
release
release_new_version.ps1