name: Release
on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest]

    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: install dependencies (frontend)
        run: npm install

      # 1. 构建 (这一步会生成所有文件，包括 latest.json)
      # 此时文件位于云端的 src-tauri/target/x86_64-pc-windows-msvc/release/bundle/...
      - name: Build and Sign
        shell: powershell
        env:
          # 你的公钥在 tauri.conf.json 里 (Base64)
          # 你的私钥在这里直接传入 (Base64) -> Tauri 自动识别解码
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        run: |
          npm run tauri build -- --target x86_64-pc-windows-msvc

      # 2. 显式上传 (使用 softprops/action-gh-release)
      # 我们不再使用 tauri-action，而是手动指定要上传哪些文件
      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          # 👇👇👇 暴力搜刮模式 👇👇👇
          # ** 代表递归搜索所有子目录，不管藏在哪都能找到
          files: |
            src-tauri/target/x86_64-pc-windows-msvc/release/bundle/**/*.msi
            src-tauri/target/x86_64-pc-windows-msvc/release/bundle/**/*.exe
            src-tauri/target/x86_64-pc-windows-msvc/release/bundle/**/*.sig
            # 必须上传 zip (这是自动更新下载的包)
            src-tauri/target/x86_64-pc-windows-msvc/release/bundle/**/*.zip
            # 必须上传 json (这是自动更新的菜单)
            src-tauri/target/x86_64-pc-windows-msvc/release/bundle/**/latest.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}